* {
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  width: 100%;
}
#root {
  width: 100%;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container__cellphone {
  width: 18rem;
  height: 30rem;
  background: rgb(0, 0, 0, 0.8);
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  border-radius: 5rem;
  border: 8px solid gray;
}
